///////////////////////
// Search setup area //
///////////////////////

USE_SEARCH = true;

function searchNode() {
    //find the node
    selectedVal = document.getElementById('search').value;
    focusNode(selectedVal, fdg_svg, graph);
}
